.header {
    height: 70px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  
    &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }

    &__nav {
        display: flex;

        li {
            list-style-image: none;
        }

        a {
            text-transform: uppercase;
            color: $color-grey;
            padding: 0 20px;
            font-weight: 700;
            font-size: 0.6875rem;
            letter-spacing: 0.1875rem;

            &:hover {
                color: $color-black;
            }
        }
    }

    .menu {
        &__btn {
          display: none;
          position: absolute;
          top: -9999px;
          left: -9999px;
          opacity: 0;
        }

        &__toggle {
            display: block;
          
            span {
              width: 20px;
              height: 2px;
              display: block;
              margin-bottom: 3px;
              background-color: $color-primary;
              transition: .3s all ease-in-out;
          
            }
          
            @include noMobile {
              display: none;
            }
          }
      }
}
